@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #e46643;
}

.unreset blockquote {
  background-color: #2c2d31;
  padding: 25px !important;
  margin: 0 !important;
  border-radius: 5px;
  font-weight: 600;
  border-left: 4px solid #e46643;
}

.unreset ul li {
  list-style: none !important;
}

.unreset ul li::before {
  content: '\2022';
  color: #e46643;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.unreset a {
  text-decoration: underline;
}

.unreset p {
  margin: 0;
  color: #c3c4c9;
}
.unreset blockquote,
.unreset figure {
  margin: 1em 40px;
}

.unreset hr {
  border: 1px inset;
  box-sizing: border-box;
  margin: 0.5em auto;
}
.unreset h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}
.unreset h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}
.unreset h3 {
  font-size: 1.35em;
  font-weight: bold;
  margin: 1em 0;
}
.unreset h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1.33em 0;
}
.unreset h5 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.67em 0;
}
.unreset h6 {
  font-size: 0.9em;
  font-weight: bold;
  margin: 2.33em 0;
  color: #e46643;
}

.unreset ul,
.unreset menu {
  list-style-type: disc;
  margin: 1em 0;
  padding: 0 0 0 40px;
  color: #c3c4c9;
}
.unreset ol {
  list-style-type: decimal;
  margin: 1em 0;
  padding: 0 0 0 40px;
  color: #c3c4c9;
}
.unreset ul ul,
.unreset ol ul {
  list-style-type: circle;
}
.unreset ul ul ul,
.unreset ul ol ul,
.unreset ol ul ul,
.unreset ol ol ul {
  list-style-type: square;
}

.unreset b,
.unreset strong {
  font-weight: bold;
}
.unreset i,
.unreset cite,
.unreset em,
.unreset var,
.unreset address,
.unreset dfn {
  font-style: italic;
  font-weight: inherit;
}

.unreset code {
  background-color: #2c2d31;
  padding: 2px;
  border-radius: 5px;
  color: white;
}

.unreset pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  margin: 1em 0;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #2c2d31;
  padding: 25px;
  border-radius: 5px;
  color: white;
}
